/* COMMONS */
*{margin: 0; padding: 0; box-sizing: border-box;}

.mt-100{margin-top: 100px;}
.mt-300{margin-top: 300px;}
.ms-bg-btn{background-color: #cd3d0f;}

.ms-rounded-20{border-radius: 20px;}
.ms-rounded-25{border-radius: 25px;}
.ms-w-10{width: 10px;}
.ms-w-20{width: 20px;}

.ms-btn-light{background-color: rgba(248, 249, 250, 0.7);}
.btn:hover{opacity:0.9;}

.jumbotron-bottom .box-img:hover,
.pointer:hover{
    cursor: pointer;
}

/* text dimensions */
h2{font-size: 45px;}
.btn{font-weight: 700;}
.ms-fs-1_1{font-size: 1.1rem;}
.ms-fs-1_2{font-size: 1.2rem;}


/* button hover effects */
.btn.btn-dark:hover{outline: none; border: 1px solid; box-shadow: 0 0 0 2px black;}
.btn.ms-bg-btn:hover{outline: none; border: 1px solid black; box-shadow: 0 0 0 2px #cd3d0f;}
.btn.btn-primary:hover{outline: none; border: 1px solid; box-shadow: 0 0 0 2px #0b5ed7;}
.btn.ms-btn-light:hover{outline: none; border: 1px solid #bebcbb; box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.7);}
.btn.btn-light:hover{outline: none; border: 1px solid; box-shadow: 0 0 0 2px #f8f9fa;}

/* HEADER */
header{
    z-index: 9999;
}

header .header-top img{
    width: 100px;
}

.header-top{
    height: 30px;
}

/* start animation to turn dropdown arrow */
.arrow-dad[aria-expanded="true"] .arrow{
    transform: rotate(-180deg);
}
.arrow {
    transition: ease 0.1s;
}
/* stop animation to turn dropdown arrow */

.my-megamenu-setting{
    border: none;
    border-radius: 0;
    margin-top: 0 !important;
    width: 100vw;
}

/* BONUS */

ul.dropdown-item{
    list-style: none;
}

ul.dropdown-item li a{
    text-decoration: none;
    color: black;
}

/* JUMBOTRON */
.jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

.jumbotron-bottom .box-img{
    transition: transform ease 0.3s;
}

.jumbotron-bottom .box-img:not(.active){
    opacity: 0.7;
}

.jumbotron-bottom .box-img:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 10px lightgray;
    opacity: 1;
}

/* MAIN */
#it-takes-two{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

#play-plus{
    background-color: #bebcbb;
}

#play-now{
    background-color: #161c3b;
}

.box-img.not-active{
    opacity: 0.7;
}

.box-img.not-active:hover{
    opacity: 1;
}

/* FOOTER */
footer{
    background-color: #00439c;
}

footer img.globe{
    width: 30px;
}

footer ul{
    list-style: none;
}

footer ul li a{
    color: white;
    text-decoration: none;
    line-height: 30px;
}

footer ul li a:hover{
    color: white;
    text-decoration: underline;
}