/* COMMONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt-100{
    margin-top: 100px;
}

.mt-300{
    margin-top: 300px;
}

.ms-bg-btn{
    background-color: #cd3d0f;
}

/* HEADER */
header .header-top img{
    width: 100px;
}

/* JUMBOTRON */
.jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.ms-rounded-20{
    border-radius: 20px;
}

/* MAIN */
#it-takes-two{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

#play-plus{
    background-color: #bebcbb;
}

#play-now{
    background-color: #161c3b;
}

.box-img.not-active{
    opacity: 0.7;
}

/* FOOTER */
footer{
    background-color: #00439c;
}

footer img.globe{
    width: 30px;
}

footer ul{
    list-style: none;
}

footer ul li a{
    color: white;
    text-decoration: none;
    line-height: 30px;
}

/* debug */
.debug .box{
    width: 100%;
    height: 100px;
    background-color: yellow;
    border: 1px solid red;
}

.debug footer{
    height: 500px;
}